<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd "
	>

	<!-- IOC -->
	<!--设值注入，IOC容器会自定调用Set方法进行赋值！  -->
	<bean id="injectionService" class="injection.service.InjectionServiceImpl" scope="singleton" init-method="start" destroy-method="end">
		<property name="injectionDAO" ref="injectionDAO"></property>
	</bean>
	  
	<!-- 构造器注入   
	<bean id="injectionService" class="injection.service.InjectionServiceImpl">
		<constructor-arg name="injectionDAO" ref="injectionDAO"></constructor-arg>
	</bean>
	-->
	
	<bean id="injectionDAO" class="injection.dao.InjectionDAOImpl"></bean>
	
	
	<!-- AOP -->
	<bean id="moocAspect" class="schema.advice.MoocAspect"></bean>
	
	<bean id="aspectBiz" class="schema.advice.biz.AspectBiz"></bean>

	<!-- 先定义切面类（aspect），再定义pointcut(切点)，最后定义advice(通知，即切面类里的各方法) -->
	<aop:config>
		<aop:aspect id="moocAspectAop" ref="moocAspect">
			<aop:pointcut expression="execution(* schema.advice.biz.*Biz.*(..))" id="moocPointcut"/>
			<aop:before method="before" pointcut-ref="moocPointcut"/>
			<aop:after-returning method="afterReturning" pointcut-ref="moocPointcut"/>
			<aop:after method="after" pointcut-ref="moocPointcut"/>
		</aop:aspect>
	</aop:config>
	
</beans>